.dc-table-group {
    background: #eee;
}

#lock-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    opacity: 0.8;
    z-index: 9999;
}

#spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 99999;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/++static++/loading-bar.gif');
}

.huge {
    font-size: 250%;
}

.content {
    min-height:500px;
}

div.dc-chart svg {
    width:100%;
}
div.dc-chart { float:none };
.dc-chart .pie-slice {
    fill: black
}

.dc-chart g.row text {
    fill: black
}

.autocomplete-suggestion {
    background:#fff;
    border:#999 solid thin;
    padding: 5px 3px;
}

.autocomplete-suggestion.autocomplete-selected {
    background:#eee;
}
